    <!-- Static navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation" ng-controller="NavbarCtrl">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
          </button>
          <a class="navbar-brand" href="#">CTO 信息查询平台</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
              <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
                <a ng-href="{{item.link}}">{{item.title}}</a>
              </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

